.experienceBar {
    display: flex;
    align-items: center;
}

.experienceBar span{
    font-size: 1rem;
}

.experienceBar > div {
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
}

.experienceBar > div > div{
    height: 4px;
    border-radius: 4px;
    background-color: var(--green);
}

span.currentExperience {
    box-shadow: 0 0 10px rgba(0,0,0,.10);
    color: var(--white);
    position: absolute;
    top: .8rem;
    transform: translateX(-50%);
    padding: .15rem .5rem;
    border-radius: 20px;  
    background: var(--green);
}